<section class="advantages">
  <div class="container-advant">
    <h3 class="advant-title-three">Переваги</h3>
    <h1 class="advant-title">Чому обрати нас?</h1>
    <p class="advant-text">Наші сумки виготовлені з екологічно чистих матеріалів, що забезпечують стійкість і
      довговічність. Обираючи EcoTote, ви підтримуєте екологічну відповідальність.</p>
  </div>
  <ul class="advant-list">
    <li class="advant-item">
      <img class="advant-img" src="../img/advantages/adv_1.jpg" alt="foto-1">
      <h2 class="advant-title-two">Стійкість та екологічність</h2>
      <p class="advant-text-two">Виготовлені з органічної бавовни та переробленого пластику.</p>
    </li>
    <li class="advant-item">
      <img class="advant-img" src="../img/advantages/adv_2.jpg" alt="foto-2">
      <h2 class="advant-title-two">Міцність і довговічність</h2>
      <p class="advant-text-two">Наші сумки мають посилені шви для тривалого використання.</p>
    </li>
    <li class="advant-item">
      <img class="advant-img img-full" src="../img/advantages/adv_3.jpg" alt="foto-3">
      <h2 class="advant-title-two">Стильний та сучасний дизайн</h2>
      <p class="advant-text-two">Мінімалістичні моделі в обмежених серіях для кожного стилю.</p>
    </li>
  </ul>
</section>