<section class="advantages section" id="advantages">
  <div class="container">

    <div class="container-advant">
      <h3 class="advant-title-three">Переваги</h3>
      <h2 class="advant-title">Чому обрати нас?</h2>
      <p class="advant-text">Наші сумки виготовлені з екологічно чистих матеріалів, що забезпечують стійкість і
        довговічність. Обираючи EcoTote, ви підтримуєте екологічну відповідальність.</p>
    </div>

    <ul class="advant-list">
      <li class="advant-item">
        <picture>
          <source srcset="
                      /img/advant/desk-1.jpg    1x,
                      /img/advant/desk-1@2x.jpg 2x
                    " media="(min-width: 1440px)" />
          <source srcset="
                      /img/advant/tab-1.jpg    1x,
                      /img/advant/tab-1@2x.jpg 2x
                    " media="(min-width: 768px)" />
          <source srcset="
                      /img/advant/mob-1.jpg    1x,
                      /img/advant/mob-1@2x.jpg 2x
                    " media="(max-width: 767px)" />
          <img class="advant-img" src="../img/advant/desk-1.jpg" alt="foto-1">
        </picture>
        <h3 class="advant-title-two">Стійкість та екологічність</h3>
        <p class="advant-text-two">Виготовлені з органічної бавовни та переробленого пластику.</p>
      </li>

      <li class="advant-item">
        <picture>
          <source srcset="
                              /img/advant/desk-2.jpg    1x,
                              /img/advant/desk-2@2x.jpg 2x
                            " media="(min-width: 1440px)" />
          <source srcset="
                              /img/advant/tab-2.jpg    1x,
                              /img/advant/tab-2@2x.jpg 2x
                            " media="(min-width: 768px)" />
          <source srcset="
                              /img/advant/mob-2.jpg    1x,
                              /img/advant/mob-2@2x.jpg 2x
                            " media="(max-width: 767px)" />
          <img class="advant-img" src="../img/advant/desk-2.jpg" alt="foto-2">
        </picture>
        <h3 class="advant-title-two">Міцність і довговічність</h3>
        <p class="advant-text-two">Наші сумки мають посилені шви для тривалого використання.</p>
      </li>

      <li class="advant-item full-item">
        <picture>
          <source srcset="
                                      /img/advant/desk-3.jpg    1x,
                                      /img/advant/desk-3@2x.jpg 2x
                                    " media="(min-width: 1440px)" />
          <source srcset="
                                      /img/advant/tab-3.jpg    1x,
                                      /img/advant/tab-3@2x.jpg 2x
                                    " media="(min-width: 768px)" />
          <source srcset="
                                      /img/advant/mob-3.jpg    1x,
                                      /img/advant/mob-3@2x.jpg 2x
                                    " media="(max-width: 767px)" />
          <img class="advant-img" src="../img/advant/desk-3.jpg" alt="foto-3">
        </picture>
        <h3 class="advant-title-two">Стильний та сучасний дизайн</h3>
        <p class="advant-text-two">Мінімалістичні моделі в обмежених серіях для кожного стилю.</p>
      </li>
    </ul>
  </div>
</section>