<!-- #region assortment -->

<section class="section-assortment" id="assortment">
  <div class="container">
    <h2 class="assortment-title">Наші сумки</h2>
    <ul class="assortment-list">
      <!-- Bag 1 -->

      <li class="assortment-item">
        <div class="assortment-img-container">
          <picture>
            <source
              srcset="
                /img/assortment/product/1-a-stylish-and-spacious-tote-bag-min.jpg    1x,
                /img/assortment/product/1-a-stylish-and-spacious-tote-bag@2x-min.jpg 2x
              "
              media="(min-width: 1440px)"
            />

            <source
              srcset="
                /img/assortment/product-tab/1-a-stylish-and-spacious-tote-bag-tab-min.jpg    1x,
                /img/assortment/product-tab/1-a-stylish-and-spacious-tote-bag-tab@2x-min.jpg 2x
              "
              media="(min-width: 768px)"
            />

            <source
              srcset="
                /img/assortment/product-mob/1-a-stylish-and-spacious-tote-bag-mob-min.jpg    1x,
                /img/assortment/product-mob/1-a-stylish-and-spacious-tote-bag-mob@2x-min.jpg 2x
              "
              media="(max-width: 767px)"
            />

            <img
              class="assortment-img"
              src="/img/assortment/product/1-a-stylish-and-spacious-tote-bag-min.jpg"
              alt="Стильна простора екосумка з органічної бавовни"
              width="310"
            />
          </picture>
        </div>

        <div class="assortment-content">
          <h3 class="assortment-subtitle">EcoBag Classic</h3>
          <p class="assortment-text">
            Елегантна та містка сумка для щоденного використання.
          </p>
          <p class="assortment-price">$25</p>
        </div>
        <button class="assortment-item-btn" type="button">Купити</button>
      </li>

      <!-- Bag 2 -->

      <li class="assortment-item">
        <div class="assortment-img-container">
          <picture>
            <source
              srcset="
                /img/assortment/product/2-a-strong-shopping-tote-min.jpg    1x,
                /img/assortment/product/2-a-strong-shopping-tote@2x-min.jpg 2x
              "
              media="(min-width: 1440px)"
            />

            <source
              srcset="
                /img/assortment/product-tab/2-a-strong-shopping-tote-tab-min.jpg    1x,
                /img/assortment/product-tab/2-a-strong-shopping-tote-tab@2x-min.jpg 2x
              "
              media="(min-width: 768px)"
            />

            <source
              srcset="
                /img/assortment/product-mob/2-a-strong-shopping-tote-mob-min.jpg    1x,
                /img/assortment/product-mob/2-a-strong-shopping-tote-mob@2x-min.jpg 2x
              "
              media="(max-width: 767px)"
            />

            <img
              class="assortment-img"
              src="/img/assortment/product/2-a-strong-shopping-tote-min.jpg"
              alt="Екосумка-шопер з міцними ручками для покупок"
              width="310"
            />
          </picture>
        </div>

        <div class="assortment-content">
          <h3 class="assortment-subtitle">EcoTote Shopper</h3>
          <p class="assortment-text">
            Ідеальна для покупок, з<br />посиленими ручками.
          </p>
          <p class="assortment-price">$30</p>
        </div>
        <button class="assortment-item-btn" type="button">Купити</button>
      </li>

      <!-- Bag 3 -->

      <li class="assortment-item">
        <div class="assortment-img-container">
          <picture>
            <source
              srcset="
                /img/assortment/product/3-a-modern-eco-friendly-city-backpack-min.jpg    1x,
                /img/assortment/product/3-a-modern-eco-friendly-city-backpack@2x-min.jpg 2x
              "
              media="(min-width: 1440px)"
            />

            <source
              srcset="
                /img/assortment/product-tab/3-a-modern-eco-friendly-city-backpack-tab-min.jpg    1x,
                /img/assortment/product-tab/3-a-modern-eco-friendly-city-backpack-tab@2x-min.jpg 2x
              "
              media="(min-width: 768px)"
            />

            <source
              srcset="
                /img/assortment/product-mob/3-a-modern-eco-friendly-city-backpack-mob-min.jpg    1x,
                /img/assortment/product-mob/3-a-modern-eco-friendly-city-backpack-mob@2x-min.jpg 2x
              "
              media="(max-width: 767px)"
            />

            <img
              class="assortment-img"
              src="/img/assortment/product/3-a-modern-eco-friendly-city-backpack-min.jpg"
              alt="Екорюкзак з конопляної тканини для міських поїздок"
              width="310"
            />
          </picture>
        </div>

        <div class="assortment-content">
          <h3 class="assortment-subtitle">EcoBackpack Urban</h3>
          <p class="assortment-text">
            Зручний рюкзак для міста з відділенням<br />для ноутбука.
          </p>
          <p class="assortment-price">$45</p>
        </div>
        <button class="assortment-item-btn" type="button">Купити</button>
      </li>

      <!-- Bag 4 -->

      <li class="assortment-item">
        <div class="assortment-img-container">
          <picture>
            <source
              srcset="
                /img/assortment/product/4-a-compact-crossbody-bag-min.jpg    1x,
                /img/assortment/product/4-a-compact-crossbody-bag@2x-min.jpg 2x
              "
              media="(min-width: 1440px)"
            />

            <source
              srcset="
                /img/assortment/product-tab/4-a-compact-crossbody-bag-tab-min.jpg    1x,
                /img/assortment/product-tab/4-a-compact-crossbody-bag-tab@2x-min.jpg 2x
              "
              media="(min-width: 768px)"
            />

            <source
              srcset="
                /img/assortment/product-mob/4-a-compact-crossbody-bag-mob-min.jpg    1x,
                /img/assortment/product-mob/4-a-compact-crossbody-bag-mob@2x-min.jpg 2x
              "
              media="(max-width: 767px)"
            />

            <img
              class="assortment-img"
              src="/img/assortment/product/4-a-compact-crossbody-bag-min.jpg"
              alt="Компактна еко-сумка через плече з льону"
              width="310"
            />
          </picture>
        </div>

        <div class="assortment-content">
          <h3 class="assortment-subtitle">EcoCrossbody Mini</h3>
          <p class="assortment-text">
            Компактна сумка через плече для найнеобхіднішого.
          </p>
          <p class="assortment-price">$20</p>
        </div>
        <button class="assortment-item-btn" type="button">Купити</button>
      </li>

      <!-- Bag 5 -->

      <li class="assortment-item">
        <div class="assortment-img-container">
          <picture>
            <source
              srcset="
                /img/assortment/product/5-a-small-insulated-lunch-bag-min.jpg    1x,
                /img/assortment/product/5-a-small-insulated-lunch-bag@2x-min.jpg 2x
              "
              media="(min-width: 1440px)"
            />

            <source
              srcset="
                /img/assortment/product-tab/5-a-small-insulated-lunch-bag-tab-min.jpg    1x,
                /img/assortment/product-tab/5-a-small-insulated-lunch-bag-tab@2x-min.jpg 2x
              "
              media="(min-width: 768px)"
            />

            <source
              srcset="
                /img/assortment/product-mob/5-a-small-insulated-lunch-bag-mob-min.jpg    1x,
                /img/assortment/product-mob/5-a-small-insulated-lunch-bag-mob@2x-min.jpg 2x
              "
              media="(max-width: 767px)"
            />

            <img
              class="assortment-img"
              src="/img/assortment/product/5-a-small-insulated-lunch-bag-min.jpg"
              alt="Еко термосумка для їжі з органічної тканини"
              width="310"
            />
          </picture>
        </div>

        <div class="assortment-content">
          <h3 class="assortment-subtitle">EcoLunch Bag</h3>
          <p class="assortment-text">Стильна та практична сумка для обідів.</p>
          <p class="assortment-price">$15</p>
        </div>
        <button class="assortment-item-btn" type="button">Купити</button>
      </li>

      <!-- Bag 6 -->

      <li class="assortment-item">
        <div class="assortment-img-container">
          <picture>
            <source
              srcset="
                /img/assortment/product/6-a-large-relaxed-beach-tote-bag-min.jpg    1x,
                /img/assortment/product/6-a-large-relaxed-beach-tote-bag@2x-min.jpg 2x
              "
              media="(min-width: 1440px)"
            />

            <source
              srcset="
                /img/assortment/product-tab/6-a-large-relaxed-beach-tote-bag-tab-min.jpg    1x,
                /img/assortment/product-tab/6-a-large-relaxed-beach-tote-bag-tab@2x-min.jpg 2x
              "
              media="(min-width: 768px)"
            />

            <source
              srcset="
                /img/assortment/product-mob/6-a-large-relaxed-beach-tote-bag-mob-min.jpg    1x,
                /img/assortment/product-mob/6-a-large-relaxed-beach-tote-bag-mob@2x-min.jpg 2x
              "
              media="(max-width: 767px)"
            />

            <img
              class="assortment-img"
              src="/img/assortment/product/6-a-large-relaxed-beach-tote-bag-min.jpg"
              alt="Велика пляжна сумка з мотузковими ручками"
              width="310"
            />
          </picture>
        </div>

        <div class="assortment-content">
          <h3 class="assortment-subtitle">EcoBeach Tote</h3>
          <p class="assortment-text">
            Велика сумка для пляжних речей з водонепроникною підкладкою.
          </p>
          <p class="assortment-price">$35</p>
        </div>
        <button class="assortment-item-btn" type="button">Купити</button>
      </li>

      <!-- Bag 7 -->

      <li class="assortment-item">
        <div class="assortment-img-container">
          <picture>
            <source
              srcset="
                /img/assortment/product/7-a-spacious-travel-duffle-bag-min.jpg    1x,
                /img/assortment/product/7-a-spacious-travel-duffle-bag@2x-min.jpg 2x
              "
              media="(min-width: 1440px)"
            />

            <source
              srcset="
                /img/assortment/product-tab/7-a-spacious-travel-duffle-bag-tab-min.jpg    1x,
                /img/assortment/product-tab/7-a-spacious-travel-duffle-bag-tab@2x-min.jpg 2x
              "
              media="(min-width: 768px)"
            />

            <source
              srcset="
                /img/assortment/product-mob/7-a-spacious-travel-duffle-bag-mob-min.jpg    1x,
                /img/assortment/product-mob/7-a-spacious-travel-duffle-bag-mob@2x-min.jpg 2x
              "
              media="(max-width: 767px)"
            />

            <img
              class="assortment-img"
              src="/img/assortment/product/7-a-spacious-travel-duffle-bag-min.jpg"
              alt="Еко дорожня сумка з перероблених матеріалів"
              width="310"
            />
          </picture>
        </div>

        <div class="assortment-content">
          <h3 class="assortment-subtitle">EcoTravel Duffle</h3>
          <p class="assortment-text">
            Містка дорожня сумка з додатковими кишенями.
          </p>
          <p class="assortment-price">$60</p>
        </div>
        <button class="assortment-item-btn" type="button">Купити</button>
      </li>

      <!-- Bag 8 -->

      <li class="assortment-item">
        <div class="assortment-img-container">
          <picture>
            <source
              srcset="
                /img/assortment/product/8-a-bright-and-fun-eco-friendly-kids-backpack-min.jpg    1x,
                /img/assortment/product/8-a-bright-and-fun-eco-friendly-kids-backpack@2x-min.jpg 2x
              "
              media="(min-width: 1440px)"
            />

            <source
              srcset="
                /img/assortment/product-tab/8-a-bright-and-fun-eco-friendly-kids-backpack-tab-min.jpg    1x,
                /img/assortment/product-tab/8-a-bright-and-fun-eco-friendly-kids-backpack-tab@2x-min.jpg 2x
              "
              media="(min-width: 768px)"
            />

            <source
              srcset="
                /img/assortment/product-mob/8-a-bright-and-fun-eco-friendly-kids-backpack-mob-min.jpg    1x,
                /img/assortment/product-mob/8-a-bright-and-fun-eco-friendly-kids-backpack-mob@2x-min.jpg 2x
              "
              media="(max-width: 767px)"
            />

            <img
              class="assortment-img"
              src="/img/assortment/product/8-a-bright-and-fun-eco-friendly-kids-backpack-min.jpg"
              alt="Яскравий дитячий екорюкзак з кольоровими принтами"
              width="310"
            />
          </picture>
        </div>

        <div class="assortment-content">
          <h3 class="assortment-subtitle">EcoKids Bag</h3>
          <p class="assortment-text">Яскрава та зручна сумка для дітей.</p>
          <p class="assortment-price">$22</p>
        </div>
        <button class="assortment-item-btn" type="button">Купити</button>
      </li>
    </ul>
  </div>
</section>

<!-- #endregion assortment -->
