<section class="feedbacks section" id="feedbacks">
  <div class="container">
    <h2 class="feedbacks-title">Що говорять наші клієнти</h2>
    <ul class="feedbacks-list">
      <li class="feedbacks-list-item">
        <ul class="feedbacks-rating">
          <li class="feedbacks-rating-stars">
            <svg class="icon-star" width="20" height="20">
              <use href="/img/icons.svg#icon-star"></use>
            </svg>
          </li>
          <li class="feedbacks-rating-stars">
            <svg class="icon-star" width="20" height="20">
              <use href="/img/icons.svg#icon-star"></use>
            </svg>
          </li>
          <li class="feedbacks-rating-stars">
            <svg class="icon-star" width="20" height="20">
              <use href="/img/icons.svg#icon-star"></use>
            </svg>
          </li>
          <li class="feedbacks-rating-stars">
            <svg class="icon-star" width="20" height="20">
              <use href="/img/icons.svg#icon-star"></use>
            </svg>
          </li>
          <li class="feedbacks-rating-stars">
            <svg class="icon-star" width="20" height="20">
              <use href="/img/icons.svg#icon-star"></use>
            </svg>
          </li>
        </ul>
        <p class="feedbacks-rating-text">
          Сумка дуже зручна та стильна, використовую щодня!
        </p>
        <p class="feedbacks-rating-autor">Анна</p>
      </li>
      <li class="feedbacks-list-item">
        <ul class="feedbacks-rating">
          <li class="feedbacks-rating-stars">
            <svg class="icon-star" width="20" height="20">
              <use href="/img/icons.svg#icon-star"></use>
            </svg>
          </li>
          <li class="feedbacks-rating-stars">
            <svg class="icon-star" width="20" height="20">
              <use href="/img/icons.svg#icon-star"></use>
            </svg>
          </li>
          <li class="feedbacks-rating-stars">
            <svg class="icon-star" width="20" height="20">
              <use href="/img/icons.svg#icon-star"></use>
            </svg>
          </li>
          <li class="feedbacks-rating-stars">
            <svg class="icon-star" width="20" height="20">
              <use href="/img/icons.svg#icon-star"></use>
            </svg>
          </li>
          <li class="feedbacks-rating-stars">
            <svg class="icon-star" width="20" height="20">
              <use href="/img/icons.svg#icon-star"></use>
            </svg>
          </li>
        </ul>
        <p class="feedbacks-rating-text">
          Відмінна якість матеріалів, приємно здивована.
        </p>
        <p class="feedbacks-rating-autor">Ігор</p>
      </li>
      <li class="feedbacks-list-item">
        <ul class="feedbacks-rating">
          <li class="feedbacks-rating-stars">
            <svg class="icon-star" width="20" height="20">
              <use href="/img/icons.svg#icon-star"></use>
            </svg>
          </li>
          <li class="feedbacks-rating-stars">
            <svg class="icon-star" width="20" height="20">
              <use href="/img/icons.svg#icon-star"></use>
            </svg>
          </li>
          <li class="feedbacks-rating-stars">
            <svg class="icon-star" width="20" height="20">
              <use href="/img/icons.svg#icon-star"></use>
            </svg>
          </li>
          <li class="feedbacks-rating-stars">
            <svg class="icon-star" width="20" height="20">
              <use href="/img/icons.svg#icon-star"></use>
            </svg>
          </li>
          <li class="feedbacks-rating-stars">
            <svg class="icon-star" width="20" height="20">
              <use href="/img/icons.svg#icon-star"></use>
            </svg>
          </li>
        </ul>
        <p class="feedbacks-rating-text">
          Сумка повністю відповідає опису, рекомендую!
        </p>
        <p class="feedbacks-rating-autor">Олена</p>
      </li>
      <li class="feedbacks-list-item">
        <ul class="feedbacks-rating">
          <li class="feedbacks-rating-stars">
            <svg class="icon-star" width="20" height="20">
              <use href="/img/icons.svg#icon-star"></use>
            </svg>
          </li>
          <li class="feedbacks-rating-stars">
            <svg class="icon-star" width="20" height="20">
              <use href="/img/icons.svg#icon-star"></use>
            </svg>
          </li>
          <li class="feedbacks-rating-stars">
            <svg class="icon-star" width="20" height="20">
              <use href="/img/icons.svg#icon-star"></use>
            </svg>
          </li>
          <li class="feedbacks-rating-stars">
            <svg class="icon-star" width="20" height="20">
              <use href="/img/icons.svg#icon-star"></use>
            </svg>
          </li>
          <li class="feedbacks-rating-stars">
            <svg class="icon-star" width="20" height="20">
              <use href="/img/icons.svg#icon-star"></use>
            </svg>
          </li>
        </ul>
        <p class="feedbacks-rating-text">
          Швидка доставка та гарне обслуговування.
        </p>
        <p class="feedbacks-rating-autor">Сергій</p>
      </li>
    </ul>
  </div>
</section>
