<footer class="footer section">
  <div class="container">
    <div class="footer-content-box footer-nav-box">
      <svg class="footer-logo" width="280" height="121">
        <use href="/img/logo.svg"></use>
      </svg>
      <ul class="footer-menu">
        <li class="footer-menu-item">
          <a href="#about" class="footer-menu-link">Про нас</a>
        </li>
        <li class="footer-menu-item">
          <a href="#advantages" class="footer-menu-link">Переваги</a>
        </li>
        <li class="footer-menu-item">
          <a href="#assortment" class="footer-menu-link">Асортимент</a>
        </li>
        <li class="footer-menu-item">
          <a href="#gallery" class="footer-menu-link">Галерея</a>
        </li>
        <li class="footer-menu-item">
          <a href="#feedbacks" class="footer-menu-link">Відгуки</a>
        </li>
        <li class="footer-menu-item">
          <a href="#support" class="footer-menu-link">Контакти</a>
        </li>
      </ul>
      <ul class="footer-social-list">
        <li class="social-list-item">
          <a href="https://www.instagram.com/" class="social-list-link" target="_blank">
            <svg class="social-list-icon" width="32" height="32">
              <use href="/img/icons.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="social-list-item">
          <a href="https://www.linkedin.com/" class="social-list-link" target="_blank">
            <svg class="social-list-icon" width="32" height="32">
              <use href="/img/icons.svg#icon-linkedin"></use>
            </svg>
          </a>
        </li>
        <li class="social-list-item">
          <a href="https://www.youtube.com/" class="social-list-link" target="_blank">
            <svg class="social-list-icon" width="32" height="32">
              <use href="/img/icons.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
    <div class="footer-content-box footer-contact-box">
      <address class="footer-address">
        <ul class="address-list">
          <li class="address-list-item">
            <a href="tel:+380999091122" class="address-list-link"
              >+38 (099) 909 11 22</a
            >
          </li>
          <li class="address-list-item">
            <a href="mailto:hello@ecotote.com" class="address-list-link"
              >hello@ecotote.com</a
            >
          </li>
        </ul>
      </address>
      <p class="copyright">© 2025 EcoTote. Всі права захищені.</p>
    </div>
  </div>
</footer>