<section class="gallery section">
  <div class="container gallery-container" id="gallery">
    <div class="title-section-gallery">
      <h2 class="title-gallery">Галерея зображень</h2>
      <h3 class="subtitle-gallery">EcoTotes у повсякденному житті</h3>
    </div>
    <div class="img-section-list">
      <ul class="list-gallery">
        <li class="item-list-gallery">
          <div class="img-section">
            <picture>
              <source
                srcset="
                  img/img-gallery/in-coffee-shop-dt.jpg    1x,
                  img/img-gallery/in-coffee-shop-dt-x2.jpg 2x
                "
                media="(min-width: 1440px)"
              />
              <source
                srcset="
                  img/img-gallery/in-coffee-shop-tab.jpg    1x,
                  img/img-gallery/in-coffee-shop-tab-x2.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  img/img-gallery/in-coffee-shop-mob.jpg    1x,
                  img/img-gallery/in-coffee-shop-mob-x2.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <img
                src="img/img-gallery/in-coffee-shop-dt.jpg"
                alt="An eco tote placed on a chair or beside a table at a cozy coffee shop"
                width="421"
              />
            </picture>
          </div>
        </li>
        <li class="item-list-gallery">
          <div class="img-section">
            <picture>
              <source
                srcset="
                  img/img-gallery/stylish-person-dt.jpg    1x,
                  img/img-gallery/stylish-person-dt-x2.jpg 2x
                "
                media="(min-width: 1440px)"
              />
              <source
                srcset="
                  img/img-gallery/stylish-person-tab.jpg    1x,
                  img/img-gallery/stylish-person-tab-x2.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  img/img-gallery/stylish-person-mob.jpg    1x,
                  img/img-gallery/stylish-person-mob-x2.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <img
                src="img/img-gallery/stylish-person-dt.jpg"
                alt="A city scene where a stylish person carries a tote bag while crossing a street or standing at a crosswalk"
                width="421"
              />
            </picture>
          </div>
        </li>
        <li class="item-list-gallery">
          <div class="img-section">
            <picture>
              <source
                srcset="
                  img/img-gallery/person-walking-dt.jpg    1x,
                  img/img-gallery/person-walking-dt-x2.jpg 2x
                "
                media="(min-width: 1440px)"
              />
              <source
                srcset="
                  img/img-gallery/person-walking-tab.jpg    1x,
                  img/img-gallery/person-walking-tab-x2.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  img/img-gallery/person-walking-mob.jpg    1x,
                  img/img-gallery/person-walking-mob-x2.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <img
                src="img/img-gallery/person-walking-dt.jpg"
                alt="A person walking through a park or nature trail carrying an eco-friendly tote bag on their shoulder."
                width="421"
              />
            </picture>
          </div>
        </li>
        <li class="item-list-gallery">
          <div class="img-section">
            <picture>
              <source
                srcset="
                  img/img-gallery/young-woman-dt.jpg    1x,
                  img/img-gallery/young-woman-dt-x2.jpg 2x
                "
                media="(min-width: 1440px)"
              />
              <source
                srcset="
                  img/img-gallery/young-woman-tab.jpg    1x,
                  img/img-gallery/young-woman-tab-x2.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  img/img-gallery/young-woman-mob.jpg    1x,
                  img/img-gallery/young-woman-mob-x2.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <img
                src="img/img-gallery/young-woman-dt.jpg"
                alt="A young woman holding a large eco tote bag filled with fresh vegetables and fruits at a local farmer's market"
                width="421"
              />
            </picture>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
