<header class="page-header">
  <div class="container header-container">
    <nav class="header-nav">
      <a class="logo header-logo" href="./index.html"
        ><svg class="icon-logo" width="85" height="32">
          <use href="../img/icons.svg#icon-logo"></use>
        </svg>
      </a>
      <ul class="nav-list">
        <li class="nav-item">
          <a class="nav-link" href="#about">Про нас</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#advantages">Переваги</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#assortment">Асортимент</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#gallery">Галерея</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#feedbacks">Відгуки</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#support">Контакти</a>
        </li>
      </ul>
    </nav>
    <address class="contacts">
      <ul class="contacts-list">
        <li class="contacts-item">
          <a class="contacts-link" href="tel:+380999091122"
            >+38 (099) 909 11 22
          </a>
        </li>
        <li class="contacts-item">
          <a class="contacts-link" href="mailto:hello@ecotote.com"
            >hello@ecotote.com
          </a>
        </li>
      </ul>
    </address>
    <button class="burger-btn" type="button" data-menu-open>
      <svg class="burger-icon" width="32" height="32">
        <use href="../img/icons.svg#icon-menu"></use>
      </svg>
    </button>
  </div>

  <div class="mobile-menu" data-menu>
    <div>
      <div class="mobile-menu-conteiner">
        <a class="mob-logo mob-header-logo" href="./index.html"
          ><svg class="icon-logo" width="85" height="32">
            <use href="../img/icons.svg#icon-logo"></use>
          </svg>
        </a>
        <button type="button" class="mobile-close" data-menu-close>
          <svg class="modal-close-icon mobile-icon" width="16" height="16">
            <use href="../img/icons.svg#icon-close"></use>
          </svg>
        </button>
      </div>
      <div class="mob-menu-nav">
        <nav class="mobile-nav">
          <ul class="mob-nav-list">
            <li class="mob-nav-item">
              <a class="mob-nav-link" href="#about">Про нас</a>
            </li>
            <li class="mob-nav-item">
              <a class="mob-nav-link" href="#advantages">Переваги </a>
            </li>
            <li class="mob-nav-item">
              <a class="mob-nav-link" href="#assortment">Асортимент </a>
            </li>
            <li class="mob-nav-item">
              <a class="mob-nav-link" href="#gallery">Галерея</a>
            </li>
            <li class="mob-nav-item">
              <a class="mob-nav-link" href="#feedbacks">Відгуки</a>
            </li>
            <li class="mob-nav-item">
              <a class="mob-nav-link" href="#support">Контакти</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>

    <div>
      <address class="mob-contacts">
        <ul class="mob-contacts-list">
          <li class="mob-contacts-item">
            <a class="mob-contacts-link" href="tel:+380999091122"
              >+38 (099) 909 11 22
            </a>
          </li>
          <li class="mob-contacts-item">
            <a class="mob-contacts-link" href="mailto:hello@ecotote.com">
              hello@ecotote.com
            </a>
          </li>
        </ul>
      </address>
    </div>
  </div>
</header>
