<section>
  <div class="container hero" id="hero">
    <div class="hero-text-container">
      <h1 class="hero-title">EcoTote — Стиль, що не шкодить планеті</h1>
      <div class="hero-text">
        <p class="hero-text-descr">
          Екологічні сумки для тих, хто дбає про майбутнє. Обирайте стиль
          та відповідальність разом з EcoTote.
        </p>
        <a class="hero-btn" href="#buy-now">Купити зараз</a>
      </div>
    </div>
    <div class="thumb">
      <picture>
        <source
          media="(min-width: 1440px)"
          srcset="
            /img/hero/hero-img-min.jpg    1x,
            /img/hero/hero-img@2x-min.jpg 2x
          "
        />
        <source
          media="(min-width: 768px)"
          srcset="
            /img/hero/hero-img-tab-min.jpg    1x,
            /img/hero/hero-img-tab@2x-min.jpg 2x
          "
        />
        <source
          media="(max-width: 767px)"
          srcset="
            /img/hero/hero-img-mob-min.jpg    1x,
            /img/hero/hero-img-mob@2x-min.jpg 2x
          "
        />
        <img src="/img/hero/hero-img-min.jpg" alt="EkoTote bags" />
      </picture>
    </div>
  </div>
</section>