<section class="support container">
    <div class="box-cont">
        <div class="box-support">
            <h2 class="title-sup">
                <span>Залишились питання?</span> 
                <span>Зв'яжіться з нами!</span>
            </h2>
            <p class="text-sup">Ми тут, щоб допомогти!</p>

            <form class="form" name="support">
                <div>
                    <label class="input-wrapper" for="user-name">Ім'я</label>


                    <div class="inp-wrp">
                        <input class="colon-name" id="user-name" type="text" name="user-name" placeholder="Іван"
                            minlength="5" maxlength="64" required>
                        <p class="text-invalid">Error text</p>
                    </div>
                </div>
                <div>
                    <label class="input-wrapper" for="user-email">Електронна пошта</label>


                    <div class="inp-wrp">
                        <input class="colon-name" id="user-email" type="email" name="email"
                            placeholder="hello@ecotote.com" pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$"
                            required>
                        <p class="text-invalid">Error text</p>
                    </div>
                </div>
                <div>
                    <label class="input-wrapper" for="user-comment">Повідомлення</label>


                    <div class="inp-wrp">
                        <textarea class="colon-name" id="user-comment" name="user-comment" rows="5"
                            placeholder="Введіть своє повідомлення..." width="288px" height="180" maxlength="500"
                            required></textarea>
                        <p class="text-invalid">Error text</p>
                    </div>
                </div>
                <button type="submit" class="btn-form">Надіслати</button>
            </form>
        </div>
        <div><div class="box-img">
        </div></div>
        
    </div>
</section>