/*----------------------advantages-----------------*/
.advantages {
    width: 100%;
    padding: 32px 0;
}
@media screen and (min-width: 768px) {
    .advantages {
        padding: 64px 0;
    } }
@media screen and (min-width: 1336px) {
    .advantages {
        padding: 64px 0;
    } }


/*----------------------container-advant-----------------*/
.container-advant {
        width: 288px;
        margin-bottom: 48px;
}
@media screen and (min-width: 768px) {
    .container-advant {        
        width: 704px;
} }
@media screen and (min-width: 1336px) {
    .container-advant {
        width: 768px;
} }


/*-----------------------advant-title-----------------*/
.advant-title {
    font-family: "Comfortaa", sans-serif;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.2;
        letter-spacing: 0.01em;
        color: #030a06;
        margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
    .advant-title {
        margin-bottom: 24px;
    } }
@media screen and (min-width: 1336px) {
    .advant-title {
        margin-bottom: 24px;
    } }


/*-------------------------advant-title-two-----------------*/
.advant-title-two {
    font-family: "Comfortaa", sans-serif;
        font-weight: 700;
        font-size: 24px;
        line-height: 1.4;
        letter-spacing: 0.01em;
        color: #030a06;
        margin-bottom: 4px;
}
@media screen and (min-width: 768px) {
    .advant-title-two {
        margin-bottom: 8px;
} }
@media screen and (min-width: 1336px) {
    .advant-title-two {
        margin-bottom: 24px;
    } }


/*---------------------------advant-title-three-----------------*/
.advant-title-three {
    font-family: "Fira Sans", sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    color: #030a06;
    margin-bottom: 12px;
}
@media screen and (min-width: 768px) {
    .advant-title-three {
        margin-bottom: 16px;
    } }
@media screen and (min-width: 1336px) {
    .advant-title-three {
        margin-bottom: 16px;
    } }


/*--------------------------------advant-text-----------------*/
.advant-text {
    font-family: "Fira Sans", sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.6;
        color: #030a06;
        margin-bottom: 48px;
}
@media screen and (min-width: 768px) {
    .advant-text {
        font-size: 18px;
        margin-bottom: 32px;
    } }
@media screen and (min-width: 1336px) {
    .advant-text {
        font-size: 18px;
        margin-bottom: 80px;
    } }


/*--------------------------------advant-text-two-----------------*/
.advant-text-two {
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    color: #030a06;
}


/*--------------------------------advant-list-----------------*/
.advant-list {
    width: 288px;
    }
@media screen and (min-width: 768px) {
    .advant-list {
        width: 704px;
        display: flex;
            gap: 24px;
    } }
@media screen and (min-width: 1336px) {
    .advant-list {
        width: 1312px;
        display: flex;
            gap: 24px;
    } }


/*--------------------------------advant-item-----------------*/
.advant-item {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 48px;
}
@media screen and (min-width: 768px) {
    .advant-item {
        flex-direction: row;
        flex-wrap: wrap;
        width: calc((100% - 24px) : 2);
    }
    .advant-item:last-child {
        width: 100%;
    } }
@media screen and (min-width: 1336px) {
    .advant-item {}
}



/*--------------------------------advant-img-----------------*/
.advant-img {
    border-radius: 32px;
        width: 288px;
        height: 198px;
        margin-bottom: 8px;
}
@media screen and (min-width: 768px) {
    .advant-img {
        width: 340px;
        height: 201px;
        margin-bottom: 32px;
    } }
@media screen and (min-width: 1336px) {
    .advant-img {
        width: 421px;
        height: 249px;
        margin-bottom: 32px;
    } }


