.page-header {
  background: #75d281;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 20px;
  padding-left: 20px;
}
.icon-logo {
  display: block;
  fill: #030a06;
}

.nav-list,
.contacts {
  display: none;
}

.header-logo {
  display: block;
}

.burger-btn {
  padding: 16px 0;
  border: none;
  background-color: transparent;
  transition:
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    cubic-bezier(0.4, 0, 0.2, 1);
}

.burger-icon {
  display: block;
  fill: #030a06;
}

/*mobile-menu*/

.mobile-menu-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 28px 16px 20px;
}

.mobile-menu {
  width: 100%;
  height: 100%;
  background-color: #75d281;
  position: fixed;
  top: 0;
  z-index: 1;
  display: flex;
  flex-direction: column;
  overflow: auto;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transition:
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mob-menu-nav {
  margin-bottom: 32px;
}

.mobile-close {
  display: block;
  align-items: center;
  background-color: transparent;
  transition:
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-close:hover,
.mobile-close:focus {
  fill: #113916;
  opacity: 0.6;
}

.mobile-nav {
  padding: 32px 20px;
}
.mob-nav-item:not(:last-child) {
  margin-bottom: 32px;
}

.mob-nav-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  color: #030a06;
  transition:
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-contacts-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  color: #030a06;
  transition:
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-contacts-item:not(:last-child) {
  margin-bottom: 16px;
}

.mob-contacts {
  margin-top: 32px;
  font-style: normal;
  padding-right: 20px;
  padding-left: 20px;
}

.burger-btn:hover,
.burger-btn:focus,
.mob-nav-link:hover,
.mob-contacts-link:hover,
.mob-nav-link:focus,
.mob-contacts-link:focus {
  color: #113916;
  opacity: 0.6;
}

@media screen and (min-width: 768px) {
  .mobile-menu-container {
    padding: 16px 40px 16px 32px;
  }

  .mob-contacts {
    padding-right: 32px;
    padding-left: 32px;
  }

  .mob-menu-nav {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1440px) {
  .mobile-menu {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .header-container {
    padding-left: 32px;
    padding-right: 32px;
  }
  .header-logo {
    display: block;
  }

  .burger-btn {
    padding: 16px 0;
  }
}

@media screen and (min-width: 1440px) {
  .burger-btn {
    display: none;
  }

  .header-container {
    display: flex;
    align-items: center;
    padding-left: 64px;
    padding-right: 64px;
  }

  .header-nav {
    display: flex;
    align-items: center;
  }

  .header-logo {
    margin-right: 175px;
  }

  .header-logo .logo-part {
    color: #2e2f42;
  }

  .nav-list {
    display: flex;
    align-items: center;
    gap: 32px;
  }

  .nav-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    color: #030a06;
    padding: 23px 0;
    display: block;
    transition:
      color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      cubic-bezier(0.4, 0, 0.2, 1);
  }

  .contacts-list {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  .contacts {
    display: block;
    font-style: normal;
    margin-left: auto;
  }

  .contacts-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    color: #030a06;
    display: block;

    transition:
      color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      cubic-bezier(0.4, 0, 0.2, 1);
  }

  .nav-link:hover,
  .contacts-link:hover,
  .nav-link:focus,
  .contacts-link:focus {
    color: #113916;
    opacity: 0.6;
  }
}
