



.title-sup {
    font-family: "Comfortaa", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 0.01em;
    color: #030a06;
}

.text-sup {
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.6;
    color: #030a06;
    margin-bottom: 32px;
}

.form {
    width: 288px;
}


.inp-wrp {
    margin-top: 8px;
    margin-bottom: 24px;
}

.colon-name {
    border: 1px solid rgba(3, 10, 6, 0.15);
    border-radius: 6px;
    padding: 8px 12px;
    width: 288px;
    background: rgba(3, 10, 6, 0.05);
    outline: none;
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    color: rgba(3, 10, 6, 0.6);
}

.text-invalid {
    display: none;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.6;
    color: #d64040;
}

.colon-name::placeholder {
    color: rgba(3, 10, 6, 0.6);
    font-size: 16px;
    transition: opacity 0.3s ease;
}


.colon-name:focus::placeholder {
    color: #030a06;
}

.colon-name:focus {
    color: #030a06;
}


.colon-name:invalid:not(:placeholder-shown) {
    border: 1px solid #d64040;
    color: #d64040;

}

.colon-name:invalid:not(:focus):not(:placeholder-shown)~.text-invalid {
    display: block;
}


textarea.colon-name:invalid {
    color: rgba(3, 10, 6, 0.6);
}

textarea.colon-name:invalid:focus {
    border: 1px solid #d64040;
}

textarea.colon-name:invalid:focus~.text-invalid {
    display: block;
    font-size: 16px;
}

.btn-form {
    border: 1px solid #030a06;
    border-radius: 6px;
    padding: 12px 24px;
    width: 288px;
    background: #030a06;
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    color: #fff;
    cursor: pointer;
    border: none;
    margin-bottom: 24px;
}

.btn-form:hover,
.btn-form:focus {
    background: #113916;

}

.box-img {
    background-color: #113916;
    border-radius: 40px;
    width: 288px;
    height: 428px;
    background-image: url(../img/support/bag-mob-1x.jpg);
}



@media screen and (min-width: 768px) {
    .container {
        max-width: 736px;
        padding: 64px 32px;
        margin: 0 auto;
    }

    .box-support {
        width: 704px;
        margin-bottom: 24px;   
    }

    .title-sup span {
        display: block;   
    }

    .title-sup {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.2;
        letter-spacing: 0.01em;
        color: #030a06;
        margin-bottom: 24px;
        text-transform: inherit;   
    }

    .text-sup {
        font-weight: 400;
        font-size: 18px;
        line-height: 1.6;
        color: #030a06;
        margin-bottom: 32px;
        text-transform: inherit;   
    }

    .form {
        width: 704px;   
    }

    .input-wrapper {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.6;
        color: #030a06;
        margin-bottom: 8px;   
    }

    .colon-name {
        border: 1px solid rgba(3, 10, 6, 0.15);
        border-radius: 6px;
        padding: 8px 12px;
        width: 704px;
        font-family: "Fira Sans", sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.6;
        color: rgba(3, 10, 6, 0.6);
        background: rgba(3, 10, 6, 0.05);
        resize: none;
        transition: all 0.3s ease;
        outline: none;
        }
    
    .inp-wrp {
        margin-top: 8px;
        margin-bottom: 24px;
    }
    
    .text-invalid {
        display: none;
        font-weight: 400;
        font-size: 12px;
        line-height: 1.6;
        color: #d64040;
    }
    
    .colon-name::placeholder {
        color: rgba(3, 10, 6, 0.6);
        font-size: 16px;
        transition: opacity 0.3s ease;
    }
    
    
    .colon-name:focus::placeholder {
        color: #030a06;
    }
    
    .colon-name:focus {
        color: #030a06;
    }
    
    
    .colon-name:invalid:not(:placeholder-shown) {
        border: 1px solid #d64040;
        color: #d64040;
    
    }
    
    .colon-name:invalid:not(:focus):not(:placeholder-shown)~.text-invalid {
        display: block;
    }
    
    
    textarea.colon-name:invalid {
        color: rgba(3, 10, 6, 0.6);
    }
    
    textarea.colon-name-tab:invalid:focus {
        border: 1px solid #d64040;
    }
    
    textarea.colon-name:invalid:focus~.text-invalid{
        display: block;
        font-size: 16px;
    }
    
    
    .btn-form {
        border: 1px solid #030a06;
        border-radius: 6px;
        padding: 12px 24px;
        width: 198px;
        background: #030a06;
        cursor: pointer;
        border: none;
        font-family: "Fira Sans", sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.6;
        color: #fff;
    }
    
    
    .btn-form:hover,
    .btn-form:focus {
        background: #113916;
    
    }
    
    .box-img {
        background-color: #113916;
        border-radius: 40px;
        width: 704px;
        height: 428px;
        background-image: url(../img/support/bag-tablet-1x.jpg);
    }

     
    .box-cont,
    .box-support,
    .form,
    .tab-img,
    .box-img-tab,
    .colon-name-tab {
        width: 100%;
        max-width: 704px;
        box-sizing: border-box;   }

}

@media screen and (min-width: 1440px) {
    .container {
        max-width: 1344px;
        padding-left: 15px;
        padding-right: 15px;
    } 

        .support {
            display: flex;
        }
    
        .box-cont {
            display: flex;
        }
    
        .box-support {
            width: 644px;
            margin-right: 24px;
        }
    
        .title-sup {
            font-family: "Comfortaa", sans-serif;
            font-weight: 700;
            font-size: 48px;
            line-height: 1.2;
            letter-spacing: 0.01em;
            color: #030a06;
            margin-bottom: 24px;
            text-transform: inherit;
        }
    
        .text-sup {
            font-family: "Fira Sans", sans-serif;
            font-weight: 400;
            font-size: 18px;
            line-height: 1.6;
            color: #030a06;
            margin-bottom: 32px;
            text-transform: inherit;
        }
    
        .form {
            width: 644px;
        }
    
        .input-wrapper {
            font-family: "Fira Sans", sans-serif;
            font-weight: 400;
            font-size: 16px;
            line-height: 1.6;
            color: #030a06;
            margin-bottom: 8px;
            display: flex;
            flex-direction: column;
        }
    
        .colon-name {
            border: 1px solid rgba(3, 10, 6, 0.15);
            border-radius: 6px;
            padding: 8px 12px;
            width: 644px;
            font-family: "Fira Sans", sans-serif;
            font-weight: 400;
            font-size: 16px;
            line-height: 1.6;
            color: rgba(3, 10, 6, 0.6);
            background: rgba(3, 10, 6, 0.05);
            resize: none;
            transition: all 0.3s ease;
            outline: none;
        }
    
        .inp-wrp {
            margin-bottom: 24px;
        }
    
        .text-invalid {
            display: none;
            font-weight: 400;
            font-size: 12px;
            line-height: 1.6;
            color: #d64040;
        }
    
        .colon-name::placeholder {
            color: rgba(3, 10, 6, 0.6);
            font-size: 16px;
            transition: opacity 0.3s ease;
        }
    
    
        .colon-name:focus::placeholder {
            color: #030a06;
        }
    
        .colon-name:focus {
            color: #030a06;
        }
    
    
        .colon-name:invalid:not(:placeholder-shown) {
            border: 1px solid #d64040;
            color: #d64040;
    
        }
    
        .colon-name:invalid:not(:focus):not(:placeholder-shown)~.text-invalid {
            display: block;
        }
    
    
        textarea.colon-name:invalid {
            color: rgba(3, 10, 6, 0.6);
        }
    
        textarea.colon-name:invalid:focus {
            border: 1px solid #d64040;
        }
    
        textarea.colon-name:invalid:focus~.text-invalid {
            display: block;
            font-size: 16px;
        }
    
    
        .btn-form {
            border: 1px solid #030a06;
            border-radius: 6px;
            padding: 12px 24px;
            width: 198px;
            background: #030a06;
            cursor: pointer;
            border: none;
            font-family: "Fira Sans", sans-serif;
            font-weight: 400;
            font-size: 16px;
            line-height: 1.6;
            color: #fff;
        }
    
    
        .btn-form:hover,
        .btn-form:focus {
            background: #030a06;
            opacity: 0.2;
    
        }
    
    
        .box-img {
            background-color: #113916;
            border-radius: 40px;
            width: 644px;
            height: 767px;
            background-image: url(../img/support/bag-dec-1x.jpg);
        }
    }
            